/*
-- var --
*/
@c_link: #79A6F3;
@c_medium: #969696;
@c_light: #E1E1E1;
@fs_main: 16px;
@fs_title: 28px;

/*
-- global --
*/
body {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: @fs_main;
	background: url(../images/bg.png);
}

.container {
	min-width: 360px;
	max-width: 750px;
}

.line {
	height: 4px;
	border-top: 2px solid #E1E1E1;
	background-color: #EFEFEF;
}

.btn-about,
.add-quote,
.sort-date,
.sort-rating,
.sort-name,
.rating,
.edit,
.delete {
	cursor: pointer;
}

/*
-- header --
*/
.header {
	h1 {
		margin-bottom: 3px;
		font-size: @fs_title;

		a {
			color: @c_link;

			&:hover {
				text-decoration: none;
			}
		}
	}

	p {
		margin-bottom: 15px;
	}
}

.header-bg {
	background: url(../images/header-bg.png) no-repeat 100% 100%;
	background-size: auto 80px;
}

/*
-- description --
*/
.description {
	margin-top: 4px;
	// for animation
	max-height: 200px;
	overflow: hidden;
	transition: max-height 0.2s linear 0s;

	p {
		text-indent: 1.8em;
	}
}

/*
-- toolbar --
*/
.toolbar {
	padding-top: 6px;
	text-align: center;

	[class*="sort"] {
		white-space: nowrap;

		.icon {
			color: @c_light;
			font-size: @fs_main*0.75;
		}
	}

	[class*="sort"].active .icon {
		color: inherit;
	}

	[class*="sort"].active:not(.up) .icon:before {
		position: absolute;
		transform: rotate(180deg);
		line-height: 1.85;
	}
}

.btn-about {
	display: none;
	color: #79A6F3;
	font-size: @fs_main*1.25;
	line-height: 1.2;
}

/*
-- article --
*/
.quote-control-panel {
	padding-top: 20px;
	text-align: center;

	.edit,
	.delete {
		margin-left: 10px;

		&:not(.active) {
			color: @c_light;
		}
	}

	.rating:before {
		color: @c_light;
	}

	.rating.liked:before {
		color: @c_link;
	}
}

.quote-body {
	margin-top: 12px;
	font-size: @fs_main;

	.quote-author {
		text-align: right;
	}
}

.post-info {
	margin-top: 4px;
	font-size: @fs_main*0.875;
	color: @c_medium;

	p {
		margin-bottom: 4px;
	}
}

.quote-wrap .line {
	margin-top: 10px;
}

/*
-- footer --
*/
.footer {
	.copyright {
		padding-top: 12px;
		font-size: @fs_main*0.875;
		text-align: center;
	}
}

/*
-- form for add/edit quotes --
*/
.set-quote {
	padding: 16px 0;

	input,
	textarea {
		display: block;
		margin-bottom: 4px;
		width: 100%;
		padding: 4px 6px;
	}

	textarea {
		height: 8em;
		resize: none;
	}

	input[type="submit"],
	input[type="reset"] {
		display: inline-block;
		width: 10em;
	}
}

/*
-- media queries --
*/
@media (max-width: 480px), (max-width: 768px) and (orientation: landscape) {
	.hide-xs {
		max-height: 0;
	}

	.btn-about {
		display: block;
	}
}

@media (min-width: 600px) {
	.header {
		h1 {
			margin-top: 36px;
			font-size: @fs_title*1.2;
		}

		p {
			margin-bottom: 20px;
			font-size: @fs_main*1.2;
		}
	}

	.header-bg {
		background-size: auto 120px;
	}

	.description {
		p {
			margin: 5px 0 12px;
		}
	}
}

@media (max-width: 767px) {
	.sort {
		cursor: pointer;
	}

	.toolbar [class*="sort-"] {
		display: none;
	}

	.toolbar [class*="sort-"].mobile-height {
		display: block;
	}
}